/* CSS Document */
* { padding: 0em; margin: 0em; }
body { font-size: 14px; font-family: "Microsoft Yahei",Verdana; }
div, p, ul, h2, h3, h4, h5, { padding: 0px; margin: 0px; }

.cursor { cursor:pointer;}
p { text-indent:32px; margin-bottom:10px; line-height:140%;}
A:link { color: #31C6E6; text-decoration: none; }
A:visited { color: #31C6E6; text-decoration: none; }
A:active { color: #31C6E6; text-decoration: none; }
A:hover { color: #31C6E6; text-decoration: underline; }
A.a_B { color: #88CC09; text-decoration: none; }
A.a_B:hover { text-decoration: underline; }
A.a_P { color: #2B56B5; text-decoration: none; }
A.a_P:hover { text-decoration: underline; }
A.a_O { color: #FF9B0F; text-decoration: none; }
A.a_O:hover { text-decoration: underline; }
A.a_I { color: #FF6600; text-decoration: none; }
A.a_I:hover { text-decoration: underline; }
A.a1 { color: #666666; text-decoration: none; }
A.a1:hover { text-decoration: underline; }
A.a2 { color: #FFFFFF; text-decoration: none; }
A.a2:hover { text-decoration: none; }

.fonf_B {color: #88CC09;}
.fonf_P {color: #2B56B5;}
.fonf_O {color: #FF9B0F;}
.fonf_I {color: #FF6600;}

.content { margin: 0 auto; width: 1200px; overflow: hidden; position:relative; }
#top { height: 80px; overflow:hidden;margin: 0 auto; width: 1200px;}
#top .logo { float:left; width:160px;}
#top .home a { display: block; color: #666666; width:110px; float:left; text-align:center; font-size: 16px; padding-top:35px; padding-bottom:-35px; text-decoration: none;}
#top .home a:hover {color: #FF6600; text-decoration: none;}
#top .home .current {color: #FF6600;}
#top .topnav { float:right;}
#top .topnav ul { list-style: none; overflow: hidden;}
#top .topnav ul li { white-space: nowrap; float: left; }
#top .topnav ul li a { display: block; color: #666666; font-size: 16px; font-family: "Microsoft Yahei"; line-height: 95px; text-decoration: none; text-align: center; white-space: nowrap; width:110px;}
#top .topnav ul li A:hover { color: #333; }
#top .topnav ul li a.current_B {color: #88CC09;}
#top .topnav ul li a.current_P {color: #2B56B5;}
#top .topnav ul li a.current_O {color: #FF9B0F;}
#top .topnav ul li a.current_I {color: #FF6600;}
#top .login { float:right;}
#top .login .a_register { display:block; width:82px; height:28px; background:#31C6E6; color:#fff; text-align:center; line-height:26px; float:left; margin-right:10px; margin-top:34px; text-decoration:none;}
#top .login .a_register:hover { background:#18AAC9;}
#top .login .a_login { display:block; width:80px; height:26px; border:1px solid #31C6E6;color:#31C6E6; text-align:center; line-height:24px; float:left; margin-top:34px; text-decoration:none;}
#top .login .a_login:hover { background:#E9F9FC;}

.index_content { margin: 0 auto; width: 1200px; overflow: hidden; margin-top:40px; margin-bottom:30px;}
.index_box_B { width:240xp; float:left; margin-right:52px; margin-left:40px;}
.index_box_B div { width:240px; height:260px; background:#88CC09; text-align:center;}
.index_box_B div span { height:100%; display: inline-block; vertical-align: middle;}
.index_box_B div img { width:110px; height:110px; vertical-align:middle;}
.index_box_B h1 { display:block; height:60px; background:#efefef; line-height:60px; font-weight:normal; font-size:20px; text-align:center;color: #88CC09;}
.index_box_P { width:240xp; float:left; margin-right:52px;}
.index_box_P div { width:240px; height:260px; background:#2B56B5; text-align:center;}
.index_box_P div span { height:100%; display: inline-block; vertical-align: middle;}
.index_box_P div img { width:110px; height:110px; vertical-align:middle;}
.index_box_P h1 { display:block; height:60px; background:#efefef; line-height:60px; font-weight:normal; font-size:20px; text-align:center;color: #2B56B5;}
.index_box_O { width:240xp; float:left; margin-right:52px;}
.index_box_O div { width:240px; height:260px; background:#FF9B0F; text-align:center;}
.index_box_O div span { height:100%; display: inline-block; vertical-align: middle;}
.index_box_O div img { width:110px; height:110px; vertical-align:middle;}
.index_box_O h1 { display:block; height:60px; background:#efefef; line-height:60px; font-weight:normal; font-size:20px; text-align:center;color: #FF9B0F;}
.index_box_I { width:240xp; float:left;}
.index_box_I div { width:240px; height:260px; background:#FF6600; text-align:center;}
.index_box_I div span { height:100%; display: inline-block; vertical-align: middle;}
.index_box_I div img { width:110px; height:110px; vertical-align:middle;}
.index_box_I h1 { display:block; height:60px; background:#efefef; line-height:60px; font-weight:normal; font-size:20px; text-align:center;color: #FF6600;}

.edu-index-container{width: 100%; position: relative;}
/*slideå›¾ç‰‡æ ·å¼*/
input:-webkit-autofill {background-color: #FAFFBD;background-image: none;color: #000;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;}
.clearfix:before,.clearfix:after {display: table;content: "";}
.clearfix:after {overflow: hidden;clear: both;}
.clearfix {*zoom: 1;}
.focusDiv{clear: both; width:100%; height:500px; overflow:hidden;background:#eee;position: relative; }
.imgDiv{position: relative; }
.imgDiv a{ position:absolute; left:50%; margin-left: -1250px; top:0; width:2500px; height:auto; text-align: center; }
.imgDiv img {  border: 0; display: none; }
.SwitchNav span{display: inline-block;width: 50px; height: 5px; overflow: hidden; border:0; margin-left: 14px; _margin-left: 6px; margin-right: 14px; _margin-right: 20px;cursor: pointer;text-indent: 999px; list-style: none}
.SwitchNav .nocurrent {background:#31C6E6;}
.SwitchNav .current {background:#eee}
.SwitchNav{position: absolute; width: 100%;height: 14px;text-align: center;left: 0;top: 470px;z-index: 100;zoom: 1;}

.padding_r100{ padding-right:100px;}


.banner { height:320px; overflow:hidden;}
.banner .left_B { width:240xp; float:left;}
.banner .left_B div { width:240px; height:180px; background:#88CC09; text-align:center;}
.banner .left_B div span { height:100%; display: inline-block; vertical-align: middle;}
.banner .left_B div img { width:110px; height:110px; vertical-align:middle;}
.banner .left_B h1 { display:block; height:50px; background:#efefef; line-height:60px; font-weight:normal; font-size:20px; text-align:center;color: #88CC09;}
.banner .right_B { width:950px; float:right; background:#A6D947; height:230px;}
.banner .right_B div { width:425px; float:left; color:#fff; margin-top:10px; margin-left:35px;}
.banner .right_B div h1 { font-size:15px; font-weight:bold; color:#fff; padding:0px; margin:0px; margin-bottom:10px;}
.banner .right_B div font { font-size:13px; line-height:140%;}
.banner .left_P { width:240xp; float:left;}
.banner .left_P div { width:240px; height:180px; background:#2B56B5; text-align:center;}
.banner .left_P div span { height:100%; display: inline-block; vertical-align: middle;}
.banner .left_P div img { width:110px; height:110px; vertical-align:middle;}
.banner .left_P h1 { display:block; height:50px; background:#efefef; line-height:60px; font-weight:normal; font-size:20px; text-align:center;color: #2B56B5;}
.banner .right_P { width:950px; float:right; background:#5578C4; height:230px;}
.banner .right_P div { width:425px; float:left; color:#fff; margin-top:30px; margin-left:35px;}
.banner .right_P div h1 { font-size:14px; font-weight:bold; color:#fff; padding:0px; margin:0px; margin-bottom:10px;}
.banner .right_P div font { font-size:13px; line-height:140%;}
.banner .left_O { width:240xp; float:left;}
.banner .left_O div { width:240px; height:180px; background:#FF9B0F; text-align:center;}
.banner .left_O div span { height:100%; display: inline-block; vertical-align: middle;}
.banner .left_O div img { width:110px; height:110px; vertical-align:middle;}
.banner .left_O h1 { display:block; height:60px; background:#efefef; line-height:60px; font-weight:normal; font-size:20px; text-align:center;color: #FF9B0F;}
.banner .right_O { width:950px; float:right; background:#FFAF3F; height:240px;}
.banner .right_O div { width:425px; float:left; color:#fff; margin-top:30px; margin-left:35px;}
.banner .right_O div h1 { font-size:15px; font-weight:bold; color:#fff; padding:0px; margin:0px; margin-bottom:10px;}
.banner .right_O div font { font-size:13px; line-height:140%;}
.banner .left_I { width:240xp; float:left;}
.banner .left_I div { width:240px; height:180px; background:#FF6600; text-align:center;}
.banner .left_I div span { height:100%; display: inline-block; vertical-align: middle;}
.banner .left_I div img { width:110px; height:110px; vertical-align:middle;}
.banner .left_I h1 { display:block; height:60px; background:#efefef; line-height:60px; font-weight:normal; font-size:20px; text-align:center;color: #FF6600;}
.banner .right_I { width:950px; float:right; background:#FF8533; height:240px;}
.banner .right_I div { width:425px; float:left; color:#fff; margin-top:30px; margin-left:35px;}
.banner .right_I div h1 { font-size:15px; font-weight:bold; color:#fff; padding:0px; margin:0px; margin-bottom:10px;}
.banner .right_I div font { font-size:13px; line-height:140%;}


.frame { background:#efefef; overflow:hidden; margin-top:-40px; margin-bottom:40px; padding-bottom:30px;}
.title_B { overflow:hidden; width:100%; font-size:15px; font-weight:normal; color:#333333; padding:0px; margin:0px; height:60px; line-height:60px; background:url(../images/B_line.png) no-repeat;background-position:30px 15px; padding-left:50px;}
.title_P { overflow:hidden; width:100%; font-size:15px; font-weight:normal; color:#333333; padding:0px; margin:0px; height:60px; line-height:60px; background:url(../images/P_line.png) no-repeat;background-position:30px 15px; padding-left:50px;}
.title_O { overflow:hidden; width:100%; font-size:15px; font-weight:normal; color:#333333; padding:0px; margin:0px; height:60px; line-height:60px; background:url(../images/O_line.png) no-repeat;background-position:30px 15px; padding-left:50px;}
.title_O span a { width:120px; color:#FF9B0F; text-decoration:none; display:block; float:right; margin-right:120px; font-size:20px;}
.title_I { overflow:hidden; width:100%; font-size:15px; font-weight:normal; color:#333333; padding:0px; margin:0px; height:60px; line-height:60px; background:url(../images/I_line.png) no-repeat;background-position:30px 15px; padding-left:50px;}
.frame_content { width:1040px; margin:0 auto;}
.frame_content .font { width:470px; line-height:25px; background:#ffffff; font-size:13px; color:#333333; padding:15px; height:90px; float:left;}
.frame_content .font font { font-size:13px; font-weight:normal;}
.margin-right { margin-right:40px; }
.margin-bottom { margin-bottom:40px;}
.search { width:840px; height:50px; background:url(../images/search_bg.png); float:left; overflow:hidden;}
.search input { width:95%; height:40px; margin-left:20px; margin-top:10px; border:0px; font-size:18px; color:#333; font-family: "Microsoft Yahei",Verdana; margin-bottom:20px;}
.search_button { float:right; width:160px; margin-bottom:20px; overflow:hidden;}
.search_list_B { margin-bottom:20px; width:1040px; margin:0 auto;overflow:hidden;}
.search_list_B div { background:url(../images/B_pic_bg2.png); width:110px; height:40px; padding-top:10px; padding-left:10px; float:left; margin-right:20px;}
.search_list_B div .select_1 { width:110px; height:30px; background:none; border:none; font-family: "Microsoft Yahei",Verdana; font-size:16px;color: #88CC09;}
.search_list_B div .sleHid { display:block; width:85px; overflow:hidden; background:#FFF; }
.search_list_B div .sleBG  { width:103px; height:30px; border:none; background:url("../images/B_icon_arrow.png") #fff no-repeat 85px 10px;  display:block;}
.search_list_P { margin-bottom:20px; width:1040px; margin:0 auto; overflow:hidden;}
.search_list_P div { background:url(../images/P_pic_bg2.png); width:110px; height:40px; padding-top:10px; padding-left:10px; float:left; margin-right:20px;}
.search_list_P div .select_1 { width:110px; height:30px; background:none; border:none; font-family: "Microsoft Yahei",Verdana; font-size:16px;color: #2B56B5;}
.search_list_P div .sleHid { display:block; width:85px; overflow:hidden; background:#FFF; }
.search_list_P div .sleBG  { width:103px; height:30px; border:none; background:url("../images/P_icon_arrow.png") #fff no-repeat 85px 10px;  display:block;}
.search_list_O { margin-bottom:20px; width:1040px; margin:0 auto; overflow:hidden;}
.search_list_O div { background:url(../images/O_pic_bg2.png); width:110px; height:40px; padding-top:10px; padding-left:10px; float:left; margin-right:20px;}
.search_list_O div .select_1 { width:110px; height:30px; background:none; border:none; font-family: "Microsoft Yahei",Verdana; font-size:16px;color: #FF9B0F;}
.search_list_O div .sleHid { display:block; width:85px; overflow:hidden; background:#FFF; }
.search_list_O div .sleBG  { width:103px; height:30px; border:none; background:url("../images/O_icon_arrow.png") #fff no-repeat 85px 10px;  display:block;}
.search_list_I { margin-bottom:20px; width:1040px; margin:0 auto; overflow:hidden;}
.search_list_I div { background:url(../images/I_pic_bg2.png); width:110px; height:40px; padding-top:10px; padding-left:10px; float:left; margin-right:20px;}
.search_list_I div .select_1 { width:110px; height:30px; background:none; border:none; font-family: "Microsoft Yahei",Verdana; font-size:16px;color: #FF6600;}
.search_list_I div .sleHid { display:block; width:85px; overflow:hidden; background:#FFF; }
.search_list_I div .sleBG  { width:103px; height:30px; border:none; background:url("../images/I_icon_arrow.png") #fff no-repeat 85px 10px;  display:block;}
.company_list { width:1040px; margin:0 auto; overflow:hidden;margin-top:-17px;}
.company_list img { margin-right:18px; margin-bottom:10px; margin-top:10px;}
.content_list { width:1040px; margin:0 auto; overflow:hidden; background:#fff; text-align:center;}
.content_list table { width:1000px; margin:15px 20px;  }
.content_list table th {height:30px; text-align:left; border-bottom:1px #efefef solid; font-family:"Microsoft Yahei",Verdana; font-size:16px;}
.content_list table td { height:50px; text-align:left; border-bottom:1px #efefef solid;}
.button_follow { background:#31C6E6; color:#ffffff; border:0px;border-radius:15px; width:70px; height:30px; cursor:pointer; font-family:"Microsoft Yahei",Verdana; font-size:14px;}
.button_resume { background:#FF9B0F; color:#ffffff; border:0px;border-radius:15px; width:70px; height:30px; cursor:pointer; font-family:"Microsoft Yahei",Verdana; font-size:14px;}
.button_people { background:#FFF; color:#31C6E6; border:1px #31C6E6 solid;border-radius:15px; width:130px; height:30px; cursor:pointer; font-family:"Microsoft Yahei",Verdana; font-size:14px;}
.button_help { background:#FFF; color:#FF9B0F; border:1px #FF9B0F solid;border-radius:15px; width:90px; height:30px; cursor:pointer; font-family:"Microsoft Yahei",Verdana; font-size:14px;}
.button_pass { background:#31C6E6; border:1px #31C6E6 solid; font-family:"Microsoft Yahei",Verdana; font-size:20px; height:50px; line-height:50px; width:150px; color:#fff; margin-right:50px;}
.button_pass_no { background:#ffffff; border:1px #31C6E6 solid; font-family:"Microsoft Yahei",Verdana; font-size:20px; height:50px; line-height:50px; width:150px; color:#31C6E6;}

.footer { width:1200px; margin: 0 auto; overflow: hidden; border-top:1px #efefef solid; padding-top:60px;}
.footer .frame_200 { width:200px; float:left; border-right:1px solid #efefef; height:160px}
.footer .frame_200 .font1 { font-size:16px; font-weight:bold;}
.footer .frame_200 a { display:block; color:#666666; height:30px; line-height:30px; width:80px; margin:0 auto; text-decoration:none;}
.footer .frame_200 a:hover { color:#333;}
.footer .frame_280 { width:280px; float:left; border-right:1px solid #efefef; height:160px}
.footer .frame_280 .font1 { font-size:16px; font-weight:bold;}
.footer .frame_280 a { display:block; color:#666666; height:30px; line-height:30px; width:200px; margin:0 auto; text-decoration:none;}
.footer .frame_280 a:hover { color:#333;}
.footer .QRcode { float:right; padding-right:30px; text-align:center;}
.footer .QRcode h1 { font-size:16px; font-weight:bold; color:#666666;}
.reserved {width:1200px; margin: 0 auto; height:120px; line-height:120px; text-align:center; color:#999999; font-size:16px;overflow: hidden;}

.frame_bg { background:#efefef; overflow:hidden; margin-bottom:40px; overflow:hidden;}
.register_frame { width:450px; padding-top:100px; margin-left:640px; margin-bottom:100px;}
.register_frame h1 { padding:0; margin:0; font-size:18px; font-weight:normal; overflow:hidden; }
.register_frame h1 a { width:50%; display:block; float:left; text-align:center; text-decoration:none; color:#999; height:50px; line-height:50px;}
.register_frame h1 .current { background:#31C6E6; color:#fff;}
.register_frame h1 .current a:hover { color:#fff;}
.register_frame h2 { padding:0; margin:0; font-size:18px; font-weight:normal; overflow:hidden; background:#31C6E6; color:#fff; width:100%; }
.register_data { background:#fff; overflow:hidden; border-top:2px #31C6E6 solid;}
.register_data .title {font-size:20px; font-weight:normal; color:#333; text-align:center; margin-top:20px; margin-bottom:20px; line-height:40px;}
.register_data .title font {font-size:18px; color:#666;}
.register_data .table { width:80%; margin:auto; margin-bottom:40px;}
.register_data .table th { width:100px; height:55px; font-weight:normal; text-align:left; font-size:18px; }
.register_data .table td { font-size:16px;}
.register_frame h2 { padding:0; margin:0; font-size:18px; font-weight:normal; overflow:hidden; background:#31C6E6; color:#fff; height:50px; line-height:50px; text-align:center;}
.register_font { background:#fff; overflow:hidden; padding:40px 40px 60px 40px; color:#333; line-height:40px; text-align:center; font-size:16px;}
.register_font font { color:#31C6E6; font-size:20px;}
.input { border:1px #efefef solid; height:36px; background:#efefef; width:100%; font-family:"Microsoft Yahei",Verdana; font-size:18px; padding:4px; color:#333;}
.button { background:#31C6E6; border:1px #31C6E6 solid; font-family:"Microsoft Yahei",Verdana; font-size:20px; height:50px; line-height:50px; width:260px; color:#fff;cursor:pointer;}
.input_d { border:1px #31C6E6 solid;width:500px; background:#fff; font-family:"Microsoft Yahei",Verdana; font-size:16px; padding:4px; margin:2px;}
.input_s { border:1px #31C6E6 solid;width:350px; background:#fff; font-family:"Microsoft Yahei",Verdana; font-size:16px; padding:4px; margin:2px;}
.input_xs { border:1px #31C6E6 solid;width:200px; background:#fff; font-family:"Microsoft Yahei",Verdana; font-size:16px; padding:4px; margin:2px;}

.input_xxs { border:1px #31C6E6 solid;width:100px; background:#fff; font-family:"Microsoft Yahei",Verdana; font-size:16px; padding:2px;}
.select { height:30px; font-family:"Microsoft Yahei",Verdana; font-size:16px; border:1px #31C6E6 solid; margin:2px;}
.input_font { height:30px; font-family:"Microsoft Yahei",Verdana; font-size:16px; width:200px; margin:2px;}
.textarea { width:500px; border:1px #31C6E6 solid; font-family:"Microsoft Yahei",Verdana; font-size:16px; height:200px; padding:4px; margin:2px;}
.textarea_s { width:500px; border:1px #31C6E6 solid; font-family:"Microsoft Yahei",Verdana; font-size:16px; height:50px; padding:4px; margin:2px;}
.page { text-align:right; line-height:30px; font-size:14px; margin-bottom:10px; margin-right:10px;}
.page a { background:#31C6E6; padding:6px; color:#ffffff; margin-right:4px;}
.page a.current { background:#31C6E6; color:#ffffff;}
.comment_list { padding:6px; line-height:160%;}
.comment_list span { color:#999; margin-right:10px;}
.place_pic {  position:relative; margin-top:5px; margin-bottom:3px; margin-right:10px; width:120px; float:left;}
.place_delete {width:26px; height:26px; position: absolute; z-index:99; right: 0; top:0; margin-top:5px; margin-left:5px;}

/*--business Start--*/
.mainbav_B { height:40px; overflow:hidden; background:#EFEFEF; margin-bottom:20px;}
.mainbav_B a { display:block; float:left; width:120px; text-align:center; color:#88CC09; line-height:40px; text-decoration:none; font-size:16px;}
.mainbav_B a.current { background:#88CC09; color:#fff;}

.mainTop_B { margin-bottom:20px; overflow:hidden;}
.mainTop_B .left { float:left; width:940px; height:120px; background:#efefef;overflow:hidden;}
.mainTop_B .left img { margin-right:20px;}
.mainTop_B .left h1 { font-size:20px; font-weight:normal; color:#333; margin-bottom:1px; margin-top:10px;}
.mainTop_B .left h2 { font-size:20px; font-weight:normal; color:#333; margin-bottom:15px;}
.mainTop_B .left h3 { font-size:16px; font-weight:normal; color:#666; text-align:right; padding-right:20px;}
.mainTop_B .right { float:right; background:#88CC09; color:#fff; width:240px; height:120px; text-align:center; font-size:18px;cursor:pointer;overflow:hidden;}
.mainTop_B .right img { margin-top:20px;}
.main_content_B { overflow:hidden; margin-bottom:20px;}
.main_content_B .left { float:left; width:940px; overflow:hidden; }
.main_content_B .right { float:right; width:240px; overflow:hidden;}
.content_B { background:#efefef; margin-bottom:20px; overflow:hidden;}
.content_B .data { line-height:20px; font-size:16px; color:#333; padding-left:10px; padding-bottom:10px; padding-right:10px; overflow:hidden;}
.content_B_title { font-size:16px; color:#88CC09; font-weight:normal; height:40px; line-height:40px; background:url(../images/B_line_s.png) no-repeat;background-position:10px 8px; padding-left:25px; overflow:hidden;margin-bottom:20px;}
.content_B_font { font-size:13.5px; color:#333; font-weight:normal; height:40px; line-height:40px;padding-left:10px; overflow:hidden;}
.content_B_title span { float:right; color:#31C6E6; margin-right:16px; font-size:10.5px; margin-top:4px;}
.content_B .title { font-size:16px; font-weight: bold; color:#333; margin-bottom:10px; margin-top:10px;}
.data_content_B_3 { padding:10px; font-size:16px; margin-bottom:20px; overflow:hidden;}
.data_content_B_3 div { float:left; width:100px; color:#666; line-height:30px;}
.data_content_B_3 a { display:block; width:100px; float:left; border:1px #88CC09 solid; background:#fff; text-align:center; padding:4px; margin-right:20px; color:#88CC09; text-decoration:none;}
.content_B_4 { background:#efefef; margin-bottom:20px; overflow:hidden;}
.content_B_4 h1 { background:#88CC09; color:#fff; font-size:16px; height:40px; line-height:40px; text-indent:15px; font-weight:normal;}
.content_B_4 ul { list-style: none; overflow: hidden;}
.content_B_4 ul li { white-space: nowrap; margin-bottom:1px; margin-top:1px;}
.content_B_4 ul li a { display: block; text-indent:15px; background:#fff; color: #88CC09; font-size: 16px; font-family: "Microsoft Yahei"; line-height: 40px; text-decoration: none; text-align: left; white-space: nowrap;}
.content_B_4 ul li A:hover { color: #333333; }
.content_B_4 .a_more { display:block; font-size:16px; height:40px; line-height:40px; text-align:center; background:#31C6E6; color:#fff; text-decoration:none;}
.content_B_5 { background:#efefef; margin-bottom:20px; overflow:hidden;}
.content_B_5 h1 { font-size:16px; height:40px; line-height:40px; text-indent:15px; font-weight:normal; text-align:right; padding-right:15px;}
.content_B_5 h1 img { margin-right:5px;}
.content_B_5 h1 a {color:#88CC09; text-decoration:none;}
.content_B_5 h2 { font-size:13px; height:30px;font-weight:normal; overflow:hidden; color:#666;}
.content_B_5 .a_more { display:block; font-size:16px; height:40px; line-height:40px; text-align:center; background:#31C6E6; color:#fff; text-decoration:none;}
.content_B_5 .font2 { color:#F00; font-size:18px; font-weight:bold;}
.progress-bar { background:#fff; width:90px; float:right; height:15px; margin-right:10px;}
.progress-bar span { background:#F00; display:block; height:15px;}.content_B_5 { background:#efefef; margin-bottom:20px; overflow:hidden;}
.content_B_6 { background:#efefef; margin-bottom:20px; overflow:hidden;}
.content_B_6 h1 { font-size:16px; height:40px; line-height:40px; text-indent:15px; font-weight:normal; text-align:right; padding-right:15px;}
.content_B_6 h1 img { margin-right:5px;}
.content_B_6 h1 a {color:#88CC09; text-decoration:none;}
.content_B_6 .data {text-align:center; font-size:12px; color:#666; margin-bottom:20px;}
.content_B_6 .data font { color:#31C6E6; font-size:40px; margin-left:5px; font-weight:bold;}
.content_B_6 .a_more { display:block; font-size:16px; height:40px; line-height:40px; text-align:center; background:#31C6E6; color:#fff; text-decoration:none;}
.mainCenter_B { background:#efefef; margin-bottom:20px; padding:20px; overflow:hidden;}
.mainCenter_B .left { float:left; width:200px;}
.mainCenter_B .left h1 { margin:0px; padding:0px; text-align:center; font-size:18px; font-weight:normal; margin-bottom:10px; color:#666;}
.mainCenter_B .left a { display:block; font-size:18px; text-align:center; background:#88CC09; color:#fff; margin-bottom:10px; text-decoration:none; height:50px; line-height:50px;}
.mainCenter_B .right { float:right;width:940px}
.mainCenter_B .right h1 { margin:0px; padding:0px; text-align:center; font-size:18px; font-weight:normal; margin-bottom:10px; color:#666;}
.mainCenter_B .right h2 { font-size:18px; text-align:center; background:#fff; color:#333; margin-bottom:10px; font-weight:normal; text-align:left; text-indent:20px; height:50px; line-height:50px;}
.B_leftnav { background:#88CC09;}
.B_leftnav ul { list-style: none; overflow: hidden;}
.B_leftnav ul li { white-space: nowrap;}
.B_leftnav ul li a { display: block; text-indent:15px; background:#A6D947; color: #fff; font-size: 16px; font-family: "Microsoft Yahei"; line-height: 50px; text-decoration: none; text-align: left; white-space: nowrap;}
.B_leftnav ul li A:hover { background:#88CC09;}
.B_leftnav ul li a.current { background:#75AF07;}
.main_B { padding:0px; margin:0px; overflow:hidden; margin-bottom:20px;}
.main_B .left { width: 460px; float:left; background:#efefef; overflow:hidden;}
.main_B .left .data { line-height:20px; font-size:16px; color:#333; padding-left:10px; padding-bottom:10px; padding-right:10px;overflow:hidden;}
.main_B .right { width: 460px; float:right; background:#efefef; overflow:hidden;}
.main_B .right ul {list-style: none; overflow: hidden; border-bottom:1px #88CC09 solid;}
.main_B .right ul li { white-space: nowrap; float:left;}
.main_B .right ul li a { display: block; background:#efefef; color: #88CC09; font-size: 16px; font-family: "Microsoft Yahei"; line-height: 40px; text-decoration: none; width:100px; text-align:center;}
.main_B .right ul li A:hover { background:#88CC09; color:#fff;}
.main_B .right ul li a.current {background:#88CC09; color:#fff;}
.main_B .right .data { line-height:20px; font-size:16px; color:#333; padding-left:10px; padding-bottom:10px; padding-right:10px;overflow:hidden;}
.content_B_list { margin-left:10px; margin-bottom:10px; margin-right:10px; overflow:hidden; background:#fff;}
.content_B_list h1 { font-size:16px; font-weight:normal; background:#efefef; height:40px; line-height:40px;}
.content_B_list h1 span { float:right;}
.content_B_list_table { width:98%; margin:0px auto;}
.content_B_list_table td { height:40px; text-align:left; border-bottom:1px #efefef solid;}

.table_data_B { margin-top:10px;}
.table_data_B th { font-weight:normal; font-size:16px; background:#fff;  color:#88CC09; border-right:4px #efefef solid; border-bottom:4px #efefef solid; text-align:left; padding:8px;}
.table_data_B td { background:#fff; border-right:4px #efefef solid;font-size:16px; text-indent:10px;border-bottom:4px #efefef solid; text-align:center; padding:8px;}
.table_list_B {}
.table_list_B th { font-weight:normal; font-size:16px; background:#88CC09; height:40px; line-height:40px; color:#fff; border-right:4px #efefef solid; border-bottom:4px #efefef solid;}
.table_list_B td { background:#fff; border-right:4px #efefef solid;height:40px; line-height:40px; font-size:16px;border-bottom:4px #efefef solid;}
.table_list_B td span { font-size:14px; color:#31C6E6;}
.file_list a { float:left; width:140px; display: block; text-align:center; text-decoration:none; color:#333; margin-right:5px;}
.file_list A:hover { background:#FFF;}
.file_list span { font-size:16px; font-weight:normal; height:30px; line-height:30px;}
.data_user { width: 160px; float:left; background:#fff; margin-right:8px; margin-bottom:10px;}
.data_user h1 { font-size:15px; color:#333; font-weight:normal;line-height:22.5px; padding:4px;}
.data_user h2 { font-size:13px; color:#666; font-weight:normal;line-height:22.5px; padding:4px;}
.data_user .a_more { display:block; font-size:16px; height:34px; line-height:34px; text-align:center; background:#31C6E6; color:#fff; text-decoration:none;}
.content_B .data_details { line-height:20px; font-size:16px; color:#333; padding-left:10px; padding-bottom:10px; padding-right:10px;}
.content_B .data_details .title { font-weight:normal; font-size:16px; color:#88CC09; height:40px; line-height:40px; background:#DFDFDF; padding-left:10px;}
.content_B .data_details .title input{ float:right; margin-top:5px; margin-right:10px;}
.content_B .data_details h3 { font-weight:normal; font-size:16px; color: #333; line-height:30px; margin-bottom:4px; width:50%; float:left;}
.content_B .data_details h3 img { margin-left:10px; margin-bottom:10px; }
.content_B .data_details h3 span { color:#666;}
.content_B .data_details h4 { font-weight:normal; font-size:16px; color: #333; line-height:30px; margin-bottom:4px;}
.content_B .data_details h4 span { color:#666;}
.content_B .data_details h4 div { padding:5px; background:#fff; line-height:30px;}
.content_B .data_details h3 input { border:1px #fff solid; background:#fff; padding:4px; width:130px; margin-left:10px;font-family:"Microsoft Yahei",Verdana; font-size:16px; color:#333333;}
.content_B .data_details h3 select { border:1px #fff solid; background:#fff; padding:4px; width:130px; margin-left:10px;font-family:"Microsoft Yahei",Verdana; font-size:16px; color:#333333;}
.content_B .data_details a { display:block; line-height:30px;}
.content_B_job { width:580px;float:left; margin:10px; overflow: hidden;}
.content_B_job h1 { font-size:16px; font-weight: bold; color:#88CC09; height:40px; line-height:40px;border-bottom:1px #efefef solid; width:100%;}
.content_B_job h1 span{ float:right;}
.content_B_job h2 { font-size:16px; font-weight:bold; color:#88CC09; height:40px; line-height:40px; width:100%;}
.content_B_job h2 span{ float:right;}
.content_B_job div { font-size:16px; font-weight:normal; color:#333; height:30px; line-height:30px; width:100%;}
.content_B_job div span{ float:right;}
.content_B_main { padding:10px; overflow:hidden; background:#efefef;}
.content_B_star h1{ font-size:12px; font-weight:normal; width:400px; float:left; margin-right:20px; padding:10px;}
.content_B_star h1 apan { float:right;}
.content_B_button { margin-bottom:20px; text-align:center;}
.content_B_button .ok { padding:6px; background:#88CC09; color:#fff; font-family:"Microsoft Yahei",Verdana; font-size:20px; border:1px #88CC09 solid;  width:160px; margin-right:40px;}
.content_B_button .reset { padding:6px; background:#fff; color:#88CC09; font-family:"Microsoft Yahei",Verdana; font-size:20px; border:1px #88CC09 solid;width:160px; margin-right:40px;}
.content_B_button .no { padding:6px; background:#fff; color:#999; font-family:"Microsoft Yahei",Verdana; font-size:20px; border:1px #999 solid;width:160px; margin-right:40px;}
/*--business End--*/


/*--opportunity Start--*/
.mainTop_O { margin-bottom:20px; overflow:hidden;}
.mainTop_O .left { float:left; width:940px; height:120px; background:#efefef; font-size:18px; color:#666; line-height:35px;overflow:hidden;}
.mainTop_O .left img { margin-right:20px;}
.mainTop_O .left h1 { font-size:20px; font-weight:normal; color:#333; margin-bottom:1px; margin-top:10px;}
.mainTop_O .left h2 { font-size:20px; font-weight:normal; color:#333; margin-bottom:5px;}
.mainTop_O .left h3 { font-size:16px; font-weight:normal; color:#666; text-align:right; padding-right:20px;}
.mainTop_O .right { float:right; background:#FF9B0F; color:#fff; width:240px; height:120px; text-align:center; font-size:18px;cursor:pointer;overflow:hidden;}
.mainTop_O .right img { margin-top:20px;}
.content_O { background:#efefef; margin-bottom:20px; overflow:hidden;}
.content_O .data { line-height:20px; font-size:16px; color:#333; padding:10px; overflow:hidden;}
.content_O .ok { padding:4px; background:#FF9B0F; color:#fff; font-family:"Microsoft Yahei",Verdana; font-size:16px; border:1px #FF9B0F solid; width:120px; margin-left:2px; margin-top:5px; margin-bottom:5px;}
.content_O .data_font { line-height:20px; font-size:18px; color:#333; padding:10px; overflow:hidden;}
.content_O .data_font div{ width:45%; float:left; line-height:40px;}
.content_O_title { font-size:20px; color:#FF9B0F; font-weight:normal; height:40px; line-height:40px; background:url(../images/O_line_s.png) no-repeat;background-position:10px 8px; padding-left:25px;}
.content_O_list { margin-left:10px; margin-bottom:10px; margin-right:10px; overflow:hidden; background:#fff;}
.content_O_list h1 { font-size:16px; font-weight:normal; background:#efefef; height:40px; line-height:40px;}
.content_O_list h1 span { float:right;}
.content_O_list_table { width:98%; margin:0px auto;}
.content_O_list_table td { height:40px; text-align:left; border-bottom:1px #efefef solid;}
.content_O .data_details { line-height:20px; font-size:16px; color:#333; padding-left:10px; padding-bottom:10px; padding-right:10px;}
.content_O .data_details .title { font-weight:normal; font-size:16px; color:#FF9B0F; height:40px; line-height:40px; background:#DFDFDF; padding-left:10px;}
.content_O .data_details .title input{ float:right; margin-top:5px; margin-right:10px;}
.content_O .data_details h3 { font-weight:normal; font-size:16px; color: #333; line-height:30px; margin-bottom:4px;}
.content_O .data_details h3 img { margin-left:10px; margin-bottom:10px; }
.content_O .data_details h3 span { color:#666;}
.content_O .data_details h4 { font-weight:normal; font-size:16px; color: #333; line-height:30px; margin-bottom:4px;}
.content_O .data_details h4 span { color:#666;}
.content_O .data_details h4 div { padding:5px; background:#fff; line-height:30px;}
.content_O .data_details h3 input { border:1px #fff solid; background:#fff; padding:4px; width:130px; margin-left:10px;font-family:"Microsoft Yahei",Verdana; font-size:16px; color:#333333;}
.content_O .data_details h3 select { border:1px #fff solid; background:#fff; padding:4px; width:130px; margin-left:10px;font-family:"Microsoft Yahei",Verdana; font-size:16px; color:#333333;}
.content_O .data_details a { display:block; line-height:30px;}
.content_O_nav { background:#efefef; margin-bottom:20px; overflow:hidden;}
.content_O_nav h1 { background:#FF9B0F; color:#fff; font-size:16px; height:40px; line-height:40px; text-indent:15px; font-weight:normal;}
.content_O_nav ul { list-style: none; overflow: hidden;}
.content_O_nav ul li { white-space: nowrap; margin-bottom:1px; margin-top:1px;}
.content_O_nav ul li a { display: block; text-indent:15px; background:#fff; color: #FF9B0F; font-size: 16px; font-family: "Microsoft Yahei"; line-height: 40px; text-decoration: none; text-align: left; white-space: nowrap;}
.content_O_nav ul li A:hover { color: #333333; }
.content_O_nav .a_more { display:block; font-size:16px; height:40px; line-height:40px; text-align:center; background:#31C6E6; color:#fff; text-decoration:none;}
.content_O_5 { background:#efefef; margin-bottom:20px; overflow:hidden;}
.main_content_O { overflow:hidden;}
.main_content_O .left { float:left; width:940px; overflow:hidden; }
.main_content_O .right { float:right; width:240px; overflow:hidden;}
.content_O_table { font-size:14px; width:220px; margin:auto; margin-bottom:10px;}
.content_O_table th { text-align:left;}
.content_O_table td {}
.table_list_O {}
.table_list_O th { font-weight:normal; font-size:16px; background:#FF9B0F; height:40px; line-height:40px; color:#fff; border-right:4px #efefef solid; border-bottom:4px #efefef solid;}
.table_list_O td { background:#fff; border-right:4px #efefef solid;height:40px; line-height:40px; font-size:16px;border-bottom:4px #efefef solid;}
.table_list_O td span { font-size:14px; color:#31C6E6; margin-left:10px;}
.frame_O { background:#efefef; overflow:hidden; margin-top:1px ;margin-bottom:40px; padding-bottom:30px;}
/*--opportunity End--*/


/*--personal Start--*/
.mainbav_P { height:40px; overflow:hidden; background:#EFEFEF; margin-bottom:20px;}
.mainbav_P a { display:block; float:left; width:120px; text-align:center; color:#2B56B5; line-height:40px; text-decoration:none; font-size:16px;}
.mainbav_P a.current { background:#2B56B5; color:#fff;}
.mainTop_P { margin-bottom:20px; overflow:hidden;}
.mainTop_P .left { float:left; width:940px; height:200px; background:#efefef; font-size:13.5px; color:#666; line-height:40px; overflow:hidden;}
.mainTop_P .left img { margin-right:20px;}
.mainTop_P .left span { font-size:20px; color:#333333;}
.mainTop_P .right { float:right; background:#5578C4;width:240px; height:200px; }
.mainTop_P .right h1 { background:#2B56B5; font-size:13.5px; cursor:pointer;overflow:hidden; color:#fff; text-align:center; font-weight:normal; height:60px; line-height:60px; }
.mainTop_P .right .data { line-height:30px; color:#FFF; padding-left:10px; padding-top:10px;}
.mainTop_P .right .data font { font-size:12px;}
.mainTop_P .right .data select { height:30px; border:1px #fff solid;font-family:"Microsoft Yahei",Verdana; font-size:8px; color:#2B56B5; }
.main_content_P { overflow:hidden; margin-bottom:20px;}
.main_content_P .left { float:left; width:940px; overflow:hidden; }
.main_content_P .right { float:right; width:240px; overflow:hidden;}
.content_P { background:#efefef; margin-bottom:20px; overflow:hidden;}
.content_P_title { font-size:15px; color:#2B56B5; font-weight:normal; height:40px; line-height:40px; background:url(../images/P_line_s.png) no-repeat;background-position:10px 8px; padding-left:25px;}
.content_P_title span { float:right; color:#31C6E6; margin-right:16px; font-size:14px; margin-top:4px;}
.content_P_title span .edit{ display:block; padding:4px; float:right; background:#fff; color:#31C6E6; width:90px; border:1px solid #31C6E6;text-decoration:none; margin-top:3px; cursor:pointer;}
.content_P .data {  line-height:30px; padding-left:10px; padding-bottom:10px; padding-right:10px; font-size:16px;}
.content_P .a_more { display:block; font-size:16px; height:40px; line-height:40px; text-align:center; background:#31C6E6; color:#fff; text-decoration:none;}
.content_P .data_details { line-height:20px; font-size:16px; color:#333; padding-left:10px; padding-bottom:10px; padding-right:10px;}
.content_P .data_details h2 { font-weight:normal; font-size:12px; color:#2B56B5; height:40px; line-height:40px; background:#DFDFDF; padding-left:10px;}
.content_P .data_details h3 { font-weight:normal; font-size:12px; color: #333; line-height:30px; margin-bottom:4px;}
.content_P .data_details h3 img { margin-left:10px; margin-bottom:10px; }
.content_P .data_details h3 span { color:#666;}
.content_P .data_details h4 { font-weight:normal; font-size:12px; color: #333; line-height:30px; margin-bottom:4px;}
.content_P .data_details h4 span { color:#666;}
.content_P .data_details h4 div { padding:5px; background:#fff; line-height:30px;}
.content_P .data_details h3 input { border:1px #fff solid; background:#fff; padding:4px; width:130px; margin-left:10px;font-family:"Microsoft Yahei",Verdana; font-size:12px; color:#333333;}
.content_P .data_details h3 select { border:1px #fff solid; background:#fff; padding:4px; width:130px; margin-left:10px;font-family:"Microsoft Yahei",Verdana; font-size:12px; color:#333333;}
.content_P .data_details a { display:block; line-height:30px;}
.table_list_P { width:100%;}
.table_list_P th { font-weight:normal; font-size:12px; background:#2B56B5; height:40px; line-height:40px; color:#fff; border-right:4px #efefef solid; border-bottom:4px #efefef solid;}
.table_list_P td { background:#fff; border-right:4px #efefef solid;height:40px; line-height:40px; font-size:12px; text-indent:10px;border-bottom:4px #efefef solid;}
.mainCenter_P { background:#efefef; margin-bottom:20px; padding:20px; overflow:hidden;}
.mainCenter_P .left { float:left; width:200px;}
.mainCenter_P .left h1 { margin:0px; padding:0px; text-align:center; font-size:13.5px; font-weight:normal; margin-bottom:10px; color:#333;}
.mainCenter_P .left a { display:block; font-size:13.5px; text-align:center; background:#2B56B5; color:#fff; margin-bottom:10px; text-decoration:none; height:50px; line-height:50px;}
.mainCenter_P .right { float:right;width:940px}
.mainCenter_P .right h1 { margin:0px; padding:0px; text-align:center; font-size:13.5px; font-weight:normal; margin-bottom:10px; color:#666;}
.mainCenter_P .right h2 { font-size:13.5px; text-align:center; background:#fff; color:#333; margin-bottom:10px; font-weight:normal; text-align:left; text-indent:20px; height:50px; line-height:50px;}
.main_P { padding:0px; margin:0px; overflow:hidden; margin-bottom:20px;}
.main_P .left { width: 460px; float:left; background:#efefef; overflow:hidden;}
.main_P .left .data { line-height:20px; font-size:16px; color:#333; padding-left:10px; padding-bottom:10px; padding-right:10px;overflow:hidden;}
.main_P .right { width: 460px; float:right; background:#efefef; overflow:hidden;}
.main_P .right ul {list-style: none; overflow: hidden; border-bottom:1px #88CC09 solid;}
.main_P .right ul li { white-space: nowrap; float:left;}
.main_P .right ul li a { display: block; background:#efefef; color: #88CC09; font-size: 16px; font-family: "Microsoft Yahei"; line-height: 40px; text-decoration: none; width:100px; text-align:center;}
.main_P .right ul li A:hover { background:#88CC09; color:#fff;}
.main_P .right ul li a.current {background:#88CC09; color:#fff;}
.main_P .right .data { line-height:20px; font-size:16px; color:#333; padding-left:10px; padding-bottom:10px; padding-right:10px;overflow:hidden;}
.P_leftnav { background:#6A88CB;}
.P_leftnav ul { list-style: none; overflow: hidden;}
.P_leftnav ul li { white-space: nowrap;}
.P_leftnav ul li a { display: block; text-indent:15px; background:#6A88CB; color: #fff; font-size: 16px; font-family: "Microsoft Yahei"; line-height: 50px; text-decoration: none; text-align: left; white-space: nowrap;}
.P_leftnav ul li A:hover { background:#5578C4;}
.P_leftnav ul li a.current { background:#2B56B5;}
.table_list_P {}
.table_list_P th { font-weight:normal; font-size:12px; background:#2B56B5; height:40px; line-height:40px; color:#fff; border-right:4px #efefef solid; border-bottom:4px #efefef solid;}
.table_list_P td { background:#fff; border-right:4px #efefef solid;height:40px; line-height:40px; font-size:12px; text-indent:10px;border-bottom:4px #efefef solid;}
.table_list_P td span { font-size:14px; color:#31C6E6; margin-left:10px;}
.content_P_button { margin-bottom:20px; text-align:center; margin-top:10px;}
.content_P_button .ok { padding:6px; background:#2B56B5; color:#fff; font-family:"Microsoft Yahei",Verdana; font-size:20px; border:1px #2B56B5 solid;  width:160px; margin-right:40px;}
.content_P_button .reset { padding:6px; background:#fff; color:#2B56B5; font-family:"Microsoft Yahei",Verdana; font-size:20px; border:1px #2B56B5 solid;width:160px; margin-right:40px;}
.content_P_button .no { padding:6px; background:#fff; color:#999; font-family:"Microsoft Yahei",Verdana; font-size:20px; border:1px #999 solid;width:160px; margin-right:40px;}
.content_P_button .add { display:block; padding:4px; float:right; background:#31C6E6; color:#fff; width:160px; margin-right:5px; text-decoration:none;}
.content_P_button .add_comment { display:block; padding:4px; float:right; background:#fff; color:#31C6E6; width:160px; margin-right:5px; border:1px solid #31C6E6;text-decoration:none;}
/*--personal End--*/

.top_menu {
margin:0;
margin:35px 0;
z-index:100;
}
/* remove the bullets and set the margin and padding to zero for the unordered list */
.top_menu ul {
padding:0;
margin:0;
list-style-type: none;
}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item */
.top_menu ul li {
float:left;
position:relative;
}
/* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size. */
.top_menu ul li a, .menu ul li a:visited {
display:block;
text-align:center;
text-decoration:none;
width:90px;
height:30px;
color:#fff;
border:1px solid #fff;
border-width:1px 1px 0 0;
background:#31C6E6;
line-height:30px;
font-size:14px;
}
/* make the dropdown ul invisible */
.top_menu ul li ul {
display: none;
}
/* specific to non IE browsers */
/* set the background and foreground color of the main menu li on hover */
.top_menu ul li:hover a {
color:#fff;
background:#1AB6D7;
}
/* make the sub menu ul visible and position it beneath the main menu list item */
.top_menu ul li:hover ul {
display:block;
position:absolute;
top:31px;
left:0;
width:105px;
}
/* style the background and foreground color of the submenu links */
.top_menu ul li:hover ul li a {
display:block;
background:#31C6E6;
color:#fff;
}
/* style the background and forground colors of the links on hover */
.top_menu ul li:hover ul li a:hover {
background:#1AB6D7;
color:#fff;
}
